<div class="general-info">
 <app-case-block
   [value]="data.infected"
   [name]="'Total Cases'"
   [textColor]="getSelectedColor(infoFields.Infected)"
   ></app-case-block>
 <app-case-block
   [value]="data.dead"
   [name]="'Death'"
   [textColor]="getSelectedColor(infoFields.Dead)"
 ></app-case-block>
 <app-case-block
   [value]="data.vaccinated"
   [name]="'Vaccinated'"
   [textColor]="getSelectedColor(infoFields.Vaccinated)"
 ></app-case-block>
 <app-case-block
   [value]="data.recovered"
   [name]="'Recoveries'"
   [textColor]="getSelectedColor(infoFields.Recovered)"
 ></app-case-block>
</div>
