<div class="row">
  <div class="row-number"><span>{{ rowNumber }}.</span></div>
  <div class="country-flag" [ngStyle]="{'background-image': 'url(' + country.flag + ')'}">
  </div>
  <div class="country-name">
    <span [innerHTML]="country.name | appHighlight: highlight">{{ country.name }}</span>
  </div>
  <div class="country-value">
    <span *ngIf="country.isVisible"> {{country[selectedFieldValue] | number }}</span>
    <i *ngIf="!country.isVisible" class="material-icons"
       [appTooltip]="tlp"
    >
     info
    </i>
  </div>
</div>

<ng-template #tlp>
  <div class="row__tooltip">Tooltip</div>
</ng-template>
