@import "src/theme/core-variables";
@import "src/theme/mixins";

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 3fr;
  font-size: px-to-rem($base-font-size);
  padding: px-to-rem(10px) 0;
  border-bottom: 1px white solid;
  margin-bottom: px-to-rem(5px) ;
}

.countries-list {
  //height: 100%;
  @include scrollbar();
  height: 420px; // TODO: add adaptive height
  max-height: 100%;
  overflow-y: scroll;

  &__country {
    &:hover {
      cursor: pointer;
      background-color: #{$sidebar-background}50;
    }

    &_disabled {
      opacity: 0.8;

      &:hover {
        cursor: default;
        background-color: inherit;
      }
    }
  }
}
