<div class="wrapper">
  <div class="sidebar-common">
    <div class="sidebar-header">
      <app-skeleton-line [widthPx]="100" [heightPx]="15"></app-skeleton-line>
<!--      <app-skeleton-circle [diameterPx]="16"></app-skeleton-circle>-->
    </div>
    <div class="sidebar-content">
      <div class="general">
        <div class="general-skeleton-info">
          <app-skeleton-line *ngFor="let i of 4 | appTimes" [heightPx]="93"></app-skeleton-line>
        </div>
      </div>
      <div class="skeleton-search">
          <div class="skeleton-search-input">
            <app-skeleton-line [heightPx]="24"></app-skeleton-line>
          </div>
          <div class="skeleton-country-list">
            <div class="skeleton-country-list-header">
              <app-skeleton-circle [diameterPx]="16"></app-skeleton-circle>
              <app-skeleton-line [widthPx]="40"></app-skeleton-line>
              <app-skeleton-line [widthPx]="90"></app-skeleton-line>
              <app-skeleton-line [widthPx]="70"></app-skeleton-line>
            </div>
            <ng-container *ngFor="let i of 10 | appTimes">
              <ng-container *ngTemplateOutlet="skeletonCountryRow"></ng-container>
            </ng-container>
          </div>
      </div>
    </div>
  </div>
</div>


<ng-template #skeletonCountryRow>
  <div class="skeleton-county-row">
    <div class="skeleton-row-number"><app-skeleton-circle [diameterPx]="16"></app-skeleton-circle></div>
    <app-skeleton-circle class="skeleton-country-flag" [diameterPx]="40"></app-skeleton-circle>
    <div class="skeleton-country-name">
      <app-skeleton-line [widthPx]="100"></app-skeleton-line>
    </div>
    <div class="skeleton-country-value">
      <app-skeleton-line [widthPx]="90"></app-skeleton-line>
    </div>
  </div>
</ng-template>
