@font-face {
  src: url('../assets/fonts/Mulish-Light.ttf') format('truetype');
  font-family: 'Mulish-Light';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Mulish-LightItalic.ttf') format('truetype');
  font-family: 'Mulish-LightIt';
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url('../assets/fonts/Mulish-Italic.ttf') format('truetype');
  font-family: 'Mulish-Regular';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Mulish-Regular.ttf') format('truetype');
  font-family: 'Mulish-RegularIt';
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url('../assets/fonts/Mulish-Medium.ttf') format('truetype');
  font-family: 'Mulish-Medium';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Mulish-MediumItalic.ttf') format('truetype');
  font-family: 'Mulish-MediumIt';
  font-weight: 500;
  font-style: italic;
}

@font-face {
  src: url('../assets/fonts/Mulish-SemiBold.ttf') format('truetype');
  font-family: 'Mulish-SemiBold';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Mulish-Bold.ttf') format('truetype');
  font-family: 'Mulish-Bold';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/Mulish-ExtraBold.ttf') format('truetype');
  font-family: 'Mulish-ExtraBold';
  font-weight: 800;
  font-style: normal;
}
