@mixin text-light() {
  font-family: Mulish-Light, sans-serif;
}

@mixin text-light-italic() {
  font-family: Mulish-LightIt, sans-serif;
}

@mixin text-regular() {
  font-family: Mulish-Regular, sans-serif;
}

@mixin text-regular-italic() {
  font-family: Mulish-RegularIt, sans-serif;
}

@mixin text-medium() {
  font-family: Mulish-Medium, sans-serif;
}

@mixin text-medium-italic() {
  font-family: Mulish-MediumIt, sans-serif;
}

@mixin text-semibold() {
  font-family: Mulish-SemiBold, sans-serif;
}

@mixin text-bold() {
  font-family: Mulish-Bold, sans-serif;
}

@mixin text-extrabold() {
  font-family: Mulish-ExtraBold, sans-serif;
}

@mixin scrollbar() {
  scrollbar-width: thin;
  scrollbar-color: #E6E8EB #C1C7CD;

  &::-webkit-scrollbar {
    width: 20px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #C1C7CD;
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box; // this property + border 'cuts down' thumb to appear only 4px in width
    border-radius: 12px;
    min-height: 60px;
  }
}
