<div class="search">
  <div class="search-input">
    <app-search-input
      [numberOfCountries]="countriesToDisplay.length"
      (searchValue)="onSearch($event)"
    ></app-search-input>
  </div>
  <div class="countries-list">
    <ul class="countries">
      <li *ngFor="let country of countriesToDisplay; let i = index">
        <app-country-row
          [rowNumber]="i + 1"
          [country]="country"
          [highlight]="seachValue"
        ></app-country-row>
      </li>
    </ul>
  </div>
</div>
