<div class="wrapper">
  <ng-container *ngIf="!isLoading; else loading">
  <div class="nav-bar">
    <div class="btn back" (click)="closeDetails()"><i class="material-icons icon">close</i></div>
    <div class="btn world"><i class="material-icons icon">public</i>World</div>
    <div class="btn country">
      <div class="flag-icon" [ngStyle]="{'background-image': 'url(' + country?.flag + ')'}"></div>
      Belarus</div>
  </div>
  <div class="header">
    <div class="country-title">
      <div class="country-name">Belarus</div>
      <div class="country-updated-date">12.04.2023</div>
    </div>
    <div class="country-today-info">
      <div class="today-values">
        <span>2001</span>
        <span>2321</span>
      </div>
    </div>
  </div>
  <div class="content"></div>
  </ng-container>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
