@import 'src/theme/core-variables';

:host {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 4000;
}

.wrapper {
  display: flex;
  //justify-content: center;
  align-items: center;
  //background-color: $sidebar-background};
  background: black;
  width: 100%;
  height: 100%;
  padding: px-to-rem(60px) px-to-rem(90px);
  flex-direction: column;
}

.header {
  margin-top: px-to-rem(40px);
  display: flex;
  width: 100%;
  padding: px-to-rem(20px) 0;
  height: px-to-rem(100px);
  justify-content: space-between;
}

.country-title {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .country-name {
    font-size: px-to-rem(50px);
    font-weight: bold;
  }

  .country-updated-date {
    font-size: px-to-rem(16px);
  }
}

.country-today-info {
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  :last-child {
    margin-right: 0;
  }

  .btn {
    border: none;
    padding: px-to-rem(5px) px-to-rem(15px);
    margin-right: px-to-rem(10px);
    background: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: px-to-rem(20px);
    height: px-to-rem(40px);



    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    &.back {
      border-radius: 50%;
      width: px-to-rem(40px);
    }

    &.country,
    &.world {
      font-weight: bold;
      border-radius: px-to-rem(5px);
      i {
        margin-right: px-to-rem(10px);
      }
    }

    .icon {
      font-size: px-to-rem(24px);
    }
  }

}
