@import "src/theme/core-variables";

.country-info-page {
  display: flex;
  height: 100%;
  width: 100%;

  .sidebar-view {
    position: relative;
    flex: 3;

    .sidebar-content {
      display: flex;
      flex-direction: column;
    }
  }

  .map-view {
    flex: 5;
    position: relative;
  }
}

.search {
  overflow: scroll;
}
