<div class="country-info-page">
  <div class="sidebar-view">
    <app-skeleton-wrapper [isLoading]="!isEnoughDataToDisplayCountryInfoSidebar()">
      <app-sidebar *ngIf="isEnoughDataToDisplayCountryInfoSidebar()">
        <div class="sidebar-content">
          <div class="general">
            <app-general-info
              [data]="covidGeneralData"
              [selectedValue]="selectedOption.value"
            ></app-general-info>
          </div>
          <div class="search">
            <app-search
              [countries]="countriesData"
              [selectedOption]="selectedOption"
              (selectCountry)="onSelectCountry($event)"
            ></app-search>
          </div>
        </div>
      </app-sidebar>
      <app-sidebar-skeleton skeleton></app-sidebar-skeleton>
    </app-skeleton-wrapper>
  </div>
  <div class="map-view">
    <app-select [options]="selectedOptions" (optionChange)="handleOptionChanges($event)"></app-select>
    <app-legend
      [selectedFieldValue]="selectedOption.value"
    ></app-legend>
    <app-map
      [covidData]="countriesData"
      [selectedOption]="selectedOption.value"
      (selectCountry)="onSelectCountry($event)"
    ></app-map>
  </div>
  <ng-container *ngIf="isDetailsOpen">
    <ng-container *ngTemplateOutlet="countryDetails"></ng-container>
  </ng-container>
</div>

<ng-template #countryDetails>
 <app-country-details
   [iso2]="$any(openDetailsSubject$ | async)"
 ></app-country-details>
</ng-template>
