<div class="country-info-page">
  <div class="sidebar-view">
    <ng-container *ngIf="isEnoughDataToDisplayCountryInfoSidebar() else loading">
      <app-sidebar>
        <div class="sidebar-content">
          <div class="general">
            <app-general-info
              [data]="covidGeneralData"
            ></app-general-info>
          </div>
          <div class="search">
            <app-search
              [countries]="countriesData"
              [selectedOption]="selectedOption"
              (selectCountry)="onSelectCountry($event)"
            ></app-search>
          </div>
        </div>
      </app-sidebar>
    </ng-container>
  </div>
  <div class="map-view">
    <app-select [options]="selectedOptions" (optionChange)="handleOptionChanges($event)"></app-select>
    <app-legend
      [selectedFieldValue]="selectedOption.value"
    ></app-legend>
    <app-map
      [covidData]="countriesData"
      [selectedOption]="selectedOption.value"
      (selectCountry)="onSelectCountry($event)"
    ></app-map>
  </div>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
