/* You can add global styles to this file, and also import other style files */
@import "src/theme/core-variables";
@import "src/theme/mixins";

body {
  @include text-semibold();

  background: black;
  margin: 0;
  padding: 0;
  color: white;
  font-size: px-to-rem($base-font-size);
}

.highlight-text {
  color: $red-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.overlay {
  display: block;
  animation: animation-opacity 0.3s ease;
  z-index: 100;
}

@keyframes animation-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
